.conteudo {
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw;
    margin: 0 auto;
}

.conteudo img {
    max-width: 100%;
    display: block;
}

/* 
Utilizando as propriedades especificas
GROW/BASIS/SHRINK */
.conteudo>div {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; */
    flex: 1 1 300px;
}

table{
    border-collapse:  collapse;
    margin: 5% auto;
}

th,td{
    border: 2px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even){
    background-color: #ccc;
}
tr:nth-child(odd){
    background-color: #9e9e9e;
}
tr:nth-child(1){
    background-color: #251d1d;
    color: #fff;
}

tr:hover{
    background-color: #131212af;
}