.conteudo{
    display: flex;
    flex-wrap: wrap;
    max-width: 50vw; /*vw = viewport width -- vh = viewport height **/
    margin: 0 auto;
}

.conteudo img{
    max-width: 100%;
    display: block;
}

/*utilizando as propriedades especificas -- GROW/BASIS/SHRINK **/

.conteudo > div {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px; 
    /* flex: 1 1 300px; -- grow - shrink - basis */
}